body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 100px 1fr 70px;
    background-color: rgb(248,240,239);
}

.page-container, .menu-container {
    animation: fadeIn 1.5s forwards;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-container {
    border: 5px solid rgb(26,26,26);
    justify-content: center;
    margin-bottom: 100px;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.menu-container h1, .menu-subtitle {
    width: 100%;
    text-align: center;
}

.menu-container h1 {
    font-size: 70px;
    margin: 50px 0 50px 0;
}

.menu-subtitle {
    text-decoration: underline;
    margin: 50px auto 0 auto;
}

.menu-card {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    width: 100%;
    max-width: 500px;
    height: 180px;
    text-align: center;
    margin: 50px auto 0 auto;
}

.menu-card p {
    text-align: center;
}

.price {
    color: rgb(26, 26, 26);
    font-style: italic;
}

.headline {
    font-size: 96px;
    margin-top: 100px;
    margin-left: 10%;
}

.menu-link {
    display: block;
    margin-left: 60px;
}

.right-image {
    margin: 50px auto 0 auto;
}

.text-container {
    margin: 0 auto;
    width: 100%;
    max-width: 500px; 
}

.contact-headline {
    font-size: 66px;
    margin-top: 100px;
    margin-left: 10%;
}

#map {
    width: 450px;
    height: 450px;
    border: 0;
    margin-top: 50px;
}

footer {
    background-color: rgb(26,26,26);
    text-align: center;
    width: 100%;
}

footer a {
    color: rgb(248,240,239);
}

footer a:hover {
    color: rgb(224, 199, 84);
}

.hovering-image {
    -webkit-animation: mover 2s infinite alternate;
    animation: mover 2s infinite alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}